<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace="com.kimjinwoo.kjwhealth.post.dao.PostDAO">
 	<insert id="insertPost" parameterType="map">
 		INSERT INTO
 			`post`
 		(
 			`userId`
 			, `subject`
 			, `content`
 			, `imagePath`
 			, `createdAt`
 			, `updatedAt`
 		) VALUES (
 			#{userId}
 			, #{subject}
 			, #{content}
 			, #{imagePath}
 			, now()
 			, now()
 		)
 		
 	</insert>
 	
 	<select id="selectPostHealthListView" parameterType="int" 
 	resultType="com.kimjinwoo.kjwhealth.post.model.Post">
 		SELECT
 			`id`
 			, `userId`
 			, `subject`
 			, `content`
 			, `imagePath`
 			, `createdAt`
 			, `updatedAt`
 		FROM
 			`post`
 		WHERE 1 = 1
		<include refid="search" />
 		ORDER BY `id` DESC
 	</select>
 	
 	<!-- 
 	<select id="selectPageList" parameterType="int" 
 	resultType="com.kimjinwoo.kjwhealth.post.model.Post">
 		SELECT
 			`id`
 			, `userId`
 			, `subject`
 			, `content`
 			, `imagePath`
 			, `createdAt`
 			, `updatedAt`
 		FROM
 			`post`
 		ORDER BY `id` DESC
 	</select>
 	 -->
 	
 	<select id="selectMyHealthList" parameterType="int" 
 	resultType="com.kimjinwoo.kjwhealth.post.model.Post">
 		SELECT
 			`id`
 			, `userId`
 			, `subject`
 			, `content`
 			, `imagePath`
 			, `createdAt`
 			, `updatedAt`
 		FROM
 			`post`
		WHERE
			`userId` = #{userId}
 		ORDER BY `id` DESC
 		LIMIT 10
 	</select>
 	
 	<select id="selectMyPageList" parameterType="int" 
 	resultType="com.kimjinwoo.kjwhealth.post.model.Post">
 		SELECT
 			`id`
 			, `userId`
 			, `subject`
 			, `content`
 			, `imagePath`
 			, `createdAt`
 			, `updatedAt`
 		FROM
 			`post`
		WHERE
			`userId` = #{userId}
 		ORDER BY `id` DESC
 		LIMIT 5
 	</select>
 	 
 	<select id="selectMainHealthList" parameterType="int" 
 	resultType="com.kimjinwoo.kjwhealth.post.model.Post">
 		SELECT
 			`id`
 			, `userId`
 			, `subject`
 			, `content`
 			, `imagePath`
 			, `createdAt`
 			, `updatedAt`
 		FROM
 			`post`
 		ORDER BY `id` DESC
 		LIMIT 10
 	</select>
 	
 	<select id="selectPostHealthList" parameterType="int" 
 	resultType="com.kimjinwoo.kjwhealth.post.model.Post">
 		SELECT
 			`id`
 			, `userId`
 			, `subject`
 			, `content`
 			, `imagePath`
 			, `createdAt`
 			, `updatedAt`
 		FROM
 			`post`
 		WHERE
 			`id` = #{id}
 		ORDER BY `id` DESC
 	</select>
 	<!-- 
 	<select id="selectHealthListByNextId" parameterType="map" resultType="com.kimjinwoo.kjwhealth.post.model.Post">
 		SELECT
 			`id`
 			, `userId`
 			, `subject`
 			, `content`
 			, `imagePath`
 			, `createdAt`
 			, `updatedAt`
 		FROM
 			`post`
 		WHERE
 			<![CDATA[
	 			`userId` = #{userId}
	 			AND `id` < #{nextId}
 			]]>
 			
 		ORDER BY `id` DESC
 		LIMIT 10
 	</select>
 	
 	<select id="selectHealthListByPrevId" parameterType="map" resultType="com.kimjinwoo.kjwhealth.post.model.Post">
 		SELECT
 			`id`
 			, `userId`
 			, `subject`
 			, `content`
 			, `imagePath`
 			, `createdAt`
 			, `updatedAt`
 		FROM
 			`post`
 		WHERE
 			<![CDATA[
	 			`userId` = #{userId}
	 			AND `id` > #{prevId}
 			]]>
 			
 		ORDER BY `id`
 		LIMIT 10
 	</select>
 	
 	<select id="lastPost" parameterType="int" resultType="com.kimjinwoo.kjwhealth.post.model.Post">
 		SELECT
 			`id`
 			, `userId`
 			, `subject`
 			, `content`
 			, `imagePath`
 			, `createdAt`
 			, `updatedAt`
 		FROM
 			`post`
 		WHERE
 			`userId` = #{userId}
 		ORDER BY `id`
 		LIMIT 1
 	</select>
 	
 	<select id="firstPost" parameterType="int" resultType="com.kimjinwoo.kjwhealth.post.model.Post">
 		SELECT
 			`id`
 			, `userId`
 			, `subject`
 			, `content`
 			, `imagePath`
 			, `createdAt`
 			, `updatedAt`
 		FROM
 			`post`
 		WHERE
 			`userId` = #{userId}
 		ORDER BY `id` DESC
 		LIMIT 1
 	</select>
 	-->
 	<select id="selectHealth" parameterType="map" resultType="com.kimjinwoo.kjwhealth.post.model.Post">
 		SELECT
 			`id`
 			, `userId`
 			, `subject`
 			, `content`
 			, `imagePath`
 			, `createdAt`
 			, `updatedAt`
 		FROM
 			`post`
 		WHERE
 			`userId` = #{userId}
 			AND `id` = #{id}
 	</select>
 	
 	<update id="updatePost" parameterType="map">
 		UPDATE
 			`post`
 		SET
 			`subject` = #{subject}
 			, `content` = #{content}
 		WHERE
 			`id` = #{id}
 	</update>
 	
 	<delete id="deletePost" parameterType="int">
 		DELETE FROM
 			`post`
 		WHERE
 			`id` = #{id}
 			AND `userId` = #{userId}
 	</delete>
 	
 	<select id="listPaging" parameterType="map" resultType="com.kimjinwoo.kjwhealth.post.model.Post"> 
	 	 
	 	SELECT 
		 	`id`
			, `userId`
			, `subject`
			, `content`
			, `imagePath`
			, `createdAt`
			, `updatedAt`
	 	FROM 
	 		`post` 
	 	<![CDATA[ 
	 	WHERE `id` > 0
	 	]]> 
	 	<include refid="search" />
	 	ORDER BY `id` DESC, `createdAt` DESC 
	 	LIMIT #{page}, 10
	 	 
 	</select>
 	
 	<select id="listCriteria" parameterType="map" resultType="com.kimjinwoo.kjwhealth.post.model.Post">
	 	SELECT 
	 		`id`
			, `userId`
			, `subject`
			, `content`
			, `imagePath`
			, `createdAt`
			, `updatedAt`
	 	FROM 
	 		`post`
	 	<![CDATA[ 
	 	WHERE `id` > 0
	 	]]> 
	 	<include refid="search" />
	 	ORDER BY `id` DESC, `createdAt` DESC 
	 	LIMIT #{pageStart}, #{perPageNum}
 	</select>
 	
 	<select id="countArticles" resultType="int"> 
	 	SELECT COUNT(`id`) 
	 	FROM `post`
	 	<![CDATA[ 
	 		WHERE `id` > 0 
	 	]]> 
 	</select>
 	
 	<select id="myListPaging" parameterType="map" resultType="com.kimjinwoo.kjwhealth.post.model.Post"> 
	 	 
	 	SELECT 
	 		`id`
			, `userId`
			, `subject`
			, `content`
			, `imagePath`
			, `createdAt`
			, `updatedAt`
	 	FROM 
	 		`post`
	 	<![CDATA[ 
	 	WHERE 
	 		`id` > 0
	 		AND `userId` = #{userId}
	 	]]> 
	 	ORDER BY `id` DESC, `createdAt` DESC 
	 	LIMIT #{page}, 3

 	</select>
 	
 	<select id="myListCriteria" parameterType="map" resultType="com.kimjinwoo.kjwhealth.post.model.Post">
	 	SELECT 
	 		`id`
			, `userId`
			, `subject`
			, `content`
			, `imagePath`
			, `createdAt`
			, `updatedAt`
	 	FROM 
	 		`post`
	 	<![CDATA[ 
	 	WHERE 
	 		`id` > 0
	 		AND `userId` = #{userId}
	 	]]> 
	 	ORDER BY `id` DESC, `createdAt` DESC 
	 	LIMIT #{pageStart}, #{perPageNum}
 	</select>
 	
 	<select id="myCountArticles" resultType="int"> 
	 	SELECT COUNT(`id`) 
	 	FROM `post`
	 	<![CDATA[ 
	 	WHERE 
	 		`id` > 0 
	 		AND `userId` = #{userId}
	 	]]> 
 	</select>
 	
 	<select id="countSubject" parameterType="map" resultType="int"> 
	 	SELECT COUNT(`id`) 
	 	FROM `post`
	 	<![CDATA[ 
	 		WHERE `id` > 0 
	 	]]>
	 	AND subject like concat('%', #{word}, '%')
 	</select>
 	
 	<select id="countContent" parameterType="map" resultType="int"> 
	 	SELECT 
	 	COUNT(`id`) 
	 	FROM `post`
	 	<![CDATA[ 
	 		WHERE `id` > 0 
	 	]]> 
	 	AND content like concat('%', #{word}, '%')
 	</select>
 	
 	<select id="countCreatedAt" parameterType="map" resultType="int"> 
	 	SELECT 
	 	COUNT(`id`) 
	 	FROM `post`
	 	<![CDATA[ 
	 		WHERE `id` > 0 
	 	]]>
	 	AND createdAt like concat('%', #{word}, '%')
 	</select>
 	
 	<select id="countSubjectContent" parameterType="map" resultType="int"> 
	 	SELECT 
	 	COUNT(`id`) 
	 	FROM `post`
	 	<![CDATA[ 
	 		WHERE `id` > 0 
	 	]]>
	 	AND subject like concat('%', #{word}, '%')
	 	OR content like concat('%', #{word}, '%')
 	</select>
 	
 	<select id="countSubjectCreatedAt" parameterType="map" resultType="int"> 
	 	SELECT 
	 	COUNT(`id`) 
	 	FROM `post`
	 	<![CDATA[ 
	 		WHERE `id` > 0 
	 	]]> 
	 	AND subject like concat('%', #{word}, '%')
	 	OR createdAt like concat('%', #{word}, '%')
 	</select>
 	
 	<select id="countContentCreatedAt" parameterType="map" resultType="int"> 
	 	SELECT 
	 	COUNT(`id`) 
	 	FROM `post`
	 	<![CDATA[ 
	 		WHERE `id` > 0 
	 	]]>
	 	AND content like concat('%', #{word}, '%')
	 	OR createdAt like concat('%', #{word}, '%')
 	</select>
 	
 	<select id="countAll" parameterType="map" resultType="int"> 
	 	SELECT 
	 	COUNT(`id`) 
	 	FROM `post`
	 	<![CDATA[ 
	 		WHERE `id` > 0 
	 	]]>
	 	AND subject like concat('%', #{word}, '%')
	 	OR content like concat('%', #{word}, '%')
	 	OR createdAt like concat('%', #{word}, '%')
 	</select>
 	
 	<select id="searchSubject" parameterType="map" resultType="com.kimjinwoo.kjwhealth.post.model.Post">
 		SELECT 
	 		`id`
			, `userId`
			, `subject`
			, `content`
			, `imagePath`
			, `createdAt`
			, `updatedAt`
	 	FROM 
	 		`post`
		<![CDATA[ 
	 	WHERE `id` > 0
	 	]]> 
	 	AND subject like concat('%', #{word}, '%')
	 	ORDER BY `id` DESC, `createdAt` DESC 
	 	LIMIT #{pageStart}, #{perPageNum}
 	</select>
 	
 	<select id="searchContent" parameterType="map" resultType="com.kimjinwoo.kjwhealth.post.model.Post">
 		SELECT 
	 		`id`
			, `userId`
			, `subject`
			, `content`
			, `imagePath`
			, `createdAt`
			, `updatedAt`
	 	FROM 
	 		`post`
		<![CDATA[ 
	 	WHERE `id` > 0
	 	]]> 
	 	AND content like concat('%', #{word}, '%')
	 	ORDER BY `id` DESC, `createdAt` DESC 
	 	LIMIT #{pageStart}, #{perPageNum}
 	</select>
 	
 	<select id="searchCreatedAt" parameterType="map" resultType="com.kimjinwoo.kjwhealth.post.model.Post">
 		SELECT 
	 		`id`
			, `userId`
			, `subject`
			, `content`
			, `imagePath`
			, `createdAt`
			, `updatedAt`
	 	FROM 
	 		`post`
		<![CDATA[ 
	 	WHERE `id` > 0
	 	]]> 
	 	AND createdAt like concat('%', #{word}, '%')
	 	ORDER BY `id` DESC, `createdAt` DESC 
	 	LIMIT #{pageStart}, #{perPageNum}
 	</select>
 	
 	<select id="searchSubjectContent" parameterType="map" resultType="com.kimjinwoo.kjwhealth.post.model.Post">
 		SELECT 
	 		`id`
			, `userId`
			, `subject`
			, `content`
			, `imagePath`
			, `createdAt`
			, `updatedAt`
	 	FROM 
	 		`post`
		<![CDATA[ 
	 	WHERE `id` > 0
	 	]]> 
	 	AND subject like concat('%', #{word}, '%')
	 	OR content like concat('%', #{word}, '%')
	 	ORDER BY `id` DESC, `createdAt` DESC 
	 	LIMIT #{pageStart}, #{perPageNum}
 	</select>
 	
 	<select id="searchSubjectCreatedAt" parameterType="map" resultType="com.kimjinwoo.kjwhealth.post.model.Post">
 		SELECT 
	 		`id`
			, `userId`
			, `subject`
			, `content`
			, `imagePath`
			, `createdAt`
			, `updatedAt`
	 	FROM 
	 		`post`
		<![CDATA[ 
	 	WHERE `id` > 0
	 	]]> 
	 	AND subject like concat('%', #{word}, '%')
	 	OR createdAt like concat('%', #{word}, '%')
	 	ORDER BY `id` DESC, `createdAt` DESC 
	 	LIMIT #{pageStart}, #{perPageNum}
 	</select>
 	
 	<select id="searchContentCreatedAt" parameterType="map" resultType="com.kimjinwoo.kjwhealth.post.model.Post">
 		SELECT 
	 		`id`
			, `userId`
			, `subject`
			, `content`
			, `imagePath`
			, `createdAt`
			, `updatedAt`
	 	FROM 
	 		`post`
		<![CDATA[ 
	 	WHERE `id` > 0
	 	]]> 
	 	AND content like concat('%', #{word}, '%')
	 	OR createdAt like concat('%', #{word}, '%')
	 	ORDER BY `id` DESC, `createdAt` DESC 
	 	LIMIT #{pageStart}, #{perPageNum}
 	</select>
 	
 	<select id="searchAll" parameterType="map" resultType="com.kimjinwoo.kjwhealth.post.model.Post">
 		SELECT 
	 		`id`
			, `userId`
			, `subject`
			, `content`
			, `imagePath`
			, `createdAt`
			, `updatedAt`
	 	FROM 
	 		`post`
		<![CDATA[ 
	 	WHERE `id` > 0
	 	]]> 
	 	AND subject like concat('%', #{word}, '%')
	 	OR content like concat('%', #{word}, '%')
	 	OR createdAt like concat('%', #{word}, '%')
	 	ORDER BY `id` DESC, `createdAt` DESC 
	 	LIMIT #{pageStart}, #{perPageNum}
 	</select>
 	
 	<sql id="search">
 		<if test="word != null and word !=''.toString()">
 			OR ( 2 = 1
 				<if test="key == 'subject'.toString()">
 					OR subject like concat('%', #{word}, '%')
 				</if>
 				<if test="key == 'content'.toString()">
 					OR content like concat('%', #{word}, '%')
 				</if>
 				<if test="key == 'createdAt'.toString()">
 					OR createdAt like concat('%', #{word}, '%')
 				</if>
 				<if test="key == 'subjectContent'.toString()">
 					OR subject like concat('%', #{word}, '%')
 					OR content like concat('%', #{word}, '%')
 				</if>
 				<if test="key == 'subjectCreatedAt'.toString()">
 					OR subject like concat('%', #{word}, '%')
 					OR createdAt like concat('%', #{word}, '%')
 				</if>
 				<if test="key == 'contentCreatedAt'.toString()">
 					OR content like concat('%', #{word}, '%')
 					OR createdAt like concat('%', #{word}, '%')
 				</if>
 				<if test="key == 'all'.toString()">
 					OR subject like concat('%', #{word}, '%')
 					OR content like concat('%', #{word}, '%')
 					OR createdAt like concat('%', #{word}, '%')
 				</if>
 			)
 		</if>
 	</sql>
 	
 	<!-- <sql id="search">
 		<if test="word != null and word !=''.toString()">
 			OR ( 2 = 1
 				<if test="key == 'subject'.toString()">
 					OR subject like concat('%', #{word}, '%')
 				</if>
 				<if test="key == 'content'.toString()">
 					OR content like concat('%', #{word}, '%')
 				</if>
 				<if test="key == 'createdAt'.toString()">
 					OR createdAt like concat('%', #{word}, '%')
 				</if>
 				<if test="key == 'subjectContent'.toString()">
 					OR subject like concat('%', #{word}, '%')
 					OR content like concat('%', #{word}, '%')
 				</if>
 				<if test="key == 'subjectCreatedAt'.toString()">
 					OR subject like concat('%', #{word}, '%')
 					OR createdAt like concat('%', #{word}, '%')
 				</if>
 				<if test="key == 'contentCreatedAt'.toString()">
 					OR content like concat('%', #{word}, '%')
 					OR createdAt like concat('%', #{word}, '%')
 				</if>
 				<if test="key == 'all'.toString()">
 					OR subject like concat('%', #{word}, '%')
 					OR content like concat('%', #{word}, '%')
 					OR createdAt like concat('%', #{word}, '%')
 				</if>
 			)
 		</if>
 	</sql> -->

 </mapper>